<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Login</title>
</head>

<body>
  <div id="app">
    <v-app id="inspire">
      <v-content>
        <v-container fluid fill-height>
          <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4>
              <v-card class="elevation-12">
                <v-toolbar dark color="primary">
                  <v-toolbar-title>Iniciar Sesión</v-toolbar-title>
                  <!-- <v-spacer></v-spacer>
                      <v-tooltip bottom>
                        <v-btn
                          icon
                          large
                          :href="source"
                          target="_blank"
                          slot="activator"
                        >
                          <v-icon large>help</v-icon>
                        </v-btn>
                        <span>Source</span>
                      </v-tooltip> -->
                </v-toolbar>
                <v-card-text>
                  <v-form method="post" action="" id="loginForm" v-model="valid" lazy-validation>
                    <v-text-field prepend-icon="person"
                    name="username" 
                    v-model="username"  
                    :counter="10"
                    :rules="usernameRules"
                    label="Usuario" 
                    required autofocus>
                    </v-text-field>
                    <v-text-field prepend-icon="lock" 
                    name="password"
                    v-model="password"
                    :rules="passwordRules"
                    label="Contraseña" 
                    type="password"
                    required>
                    </v-text-field>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <strong style="color:red">{{ error }}</strong>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" @click="submit" :disabled="!valid">Login</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data(){
        return{
          valid: false,
          username: '',
          usernameRules: [
            v => !!v || 'Usuario es requerido',
            v => (v && v.length <= 10) || 'Usuario debe ser menos de 10 caracteres'
          ],
          password: '',
          passwordRules: [
          v => !!v || 'Contraseña es requerido'
          ]
        }
      },
      methods:{
        submit(){
          if(this.valid){
            loginForm.submit()
          }
        }
      }
    })
  </script>
</body>

</html>